{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "linaria/babel"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
